body{
    display: flex;
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    width: 100vh;
}
.form{
    border-radius: 5px;
    background-color: black; 
    height: 350px;
    width: 350px;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
form{
}
h2{
    color: aliceblue;
}
input[type=submit]{
    width: 280px;
    margin-top: 15px;
    background-color: rgb(61, 209, 61) ;
}
input[type="text" name="Signi Up"]{background-color: rgb(61, 209, 61) ;
    
}

